@{
    ViewData["Title"] = "DeptMonth";
}
@section head {
    <style>
        .total {
            background-color: #ffff33;
            font-weight: bold;
        }

        td:not(.total):hover {
            background-color: #689243;
            font-weight: bold;
            color: #fff;
        }
    </style>
}
<div class="container-980">
    <div class="tool-bar content-right">
        <form asp-action="SalerMonthLine" method="get" id="form1">
            <select id="year" name="year" asp-items="ViewBag.Years"></select>
            <select id="zd" asp-items="ViewBag.Groups"></select>
            <select id="dept" name="deptId" asp-items="ViewBag.Depts"></select>
        </form>
    </div>
    <hr />
    <div class="blank-20"></div>
    <div id="main" style="height: 400px;"></div>
    <div class="blank-20"></div>
    <div>
        <table class="table table-bordered table-striped table-hover" id="data-grid">
            <thead>
                <tr>
                    <th width="100">业务员</th>
                    <th width="60">一月</th>
                    <th width="60">二月</th>
                    <th width="60">三月</th>
                    <th width="60">四月</th>
                    <th width="60">五月</th>
                    <th width="60">六月</th>
                    <th width="60">七月</th>
                    <th width="60">八月</th>
                    <th width="60">九月</th>
                    <th width="60">十月</th>
                    <th width="60">十一月</th>
                    <th width="60">十二月</th>
                    <th width="90">总计</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.1/echarts.js"></script>
    <script src="~/lib/lodash/lodash.js"></script>
    <script>
        var myChart = echarts.init(document.getElementById('main'));
        var option;
        var data = [];
        $(function () {
            $.get('/SalerReport/GetSalerMonthData', { year: $('#year').val(), deptId: $('#dept').val() }, function (response) {
                data = _.groupBy(response, 'name');
                render();
            });

            $('#zd').on('change', function () {
                render();
            });

            $('#year').on('change', function () {
                $('#form1').submit();
            });

            $('#dept').on('change', function () {
                $('#form1').submit();
            });

            $('#data-grid').on('dblclick', 'td', function () {
                var salerId = $(this).data('saler');
                var year = $(this).data('year');
                var dateUnit = $(this).data('unit');

                myUI.popIframe(
                    '/SalerReport/Details?year=' + year + '&salerId=' + salerId + '&month=' + dateUnit,
                    year + '年' + dateUnit + '月业务员数据详情', 860, 480);
            });
        });

        function render() {
            option = buildPieOption();
            setTimeout(() => {
                myChart.setOption(option);
            }, 500);
        }

        function buildPieOption() {
            var by = $('#zd option:selected');
            var zd = by.val();
            var zdName = by.text();

            var opt = {
                title: {
                    text: '业务员' + zdName + '月趋势'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: getName(data)
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: getData(data, zd)
            };
            setTable(data, zd, zdName);
            return opt;
        }

        function setTable(d, z, zn) {
            var total = 0;
            var html = '';
            for (var p in data) {
                html += '<tr>';
                html += '<td class="total">' + p + '</td>';
                var total = 0;
                $.each(data[p], function (idx, item) {
                    html += '<td title="【' + p + '】' + item.dateUnit + '月" data-saler="' + item.id + '" data-year="' + item.year + '" data-unit="' + item.dateUnit + '">' + item[z] + '</td>';
                    total += item[z];
                });
                html += '<td class="total" title="【' + p + '】">' + total + '</td>';
                html += '</tr>';
            }
            $('#tbody').html(html);
        }

        function getData(obj, zd) {
            var result = [];
            for (p in obj) {
                result.push({
                    name: p,
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: _.map(obj[p], function (o) { return o[zd]; })
                });
            }
            return result;
        }

        function getName(obj) {
            var result = [];
            for (p in obj) {
                result.push(p);
            }
            return result;
        }
    </script>
}